name: release

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  release_snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7 # v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5.0.2 # v5
        with:
          go-version: stable
      - name: Ensure Go
        run: go version
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true
          version: '~> v2'
      - name: Show GoReleaser version
        run: goreleaser -v

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        if: success() && startsWith(github.ref, 'refs/tags/')
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          version: '~> v2'
          args: release --clean
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
